<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeyLoggerV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KeyLoggerV2.Properties.Settings>
            <setting name="email" serializeAs="String">
                <value>nicolaisteam5@gmail.com</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>95121240</value>
            </setting>
            <setting name="counter" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="browser" serializeAs="String">
                <value>0</value>
            </setting>
        </KeyLoggerV2.Properties.Settings>
    </userSettings>
</configuration>